.tour-card  {
   box-shadow: 0 18px 50px -10px rgba(0,0,0,.2);
   height: 100%;
   display: flex;
   flex-direction: column;
}
.tour-card .ant-card-cover {
   position: relative;
}
.tour-card .ant-card-cover span {
   position: absolute;
   right: 0;
   bottom: 0;
   height: max-content;
   width: max-content;
   background: var(--primary-color);
   border-radius: 3px 0 0 0;
   color: #fff;
   padding: 0.1rem 0.3rem;
   position: absolute;
   z-index: 10;
   font-size: 16px;
}

.tour-card .ant-card-body {
   padding: 16px;
   display: flex;
   flex-direction: column;
   flex: 1;
}

.tour-card-top,
.tour-location,
.tour-rating {
   display: flex;
   align-items: center;
}

.tour-card-top {
   justify-content: space-between;
}

.tour-location {
   gap: 0.25rem;
   font-size: 16px;
   font-weight: 500;  
}
.tour-rating svg,
.tour-location svg {
   color: var(--secondary-color);
}

.tour-rating {
   font-size: 12.8px;
   color: var(--text-color);
   gap: 0.25rem;
}
.tour-rating svg {
   font-size: 16px;
}

.tour-title {
   display: block;
   margin: 16px 0 8px;
   font-size: 1rem;
   color: var(--heading-color);
   font-weight: 500;
   flex: 1;
}
.tour-title:hover {
   color: var(--heading-color);
}

.tour-card-bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.tour-card-bottom h4 {
   color: var(--secondary-color);
   font-size: 1rem;
    font-weight: 700;
                     }
.tour-card-bottom h4 span {
   color: var(--text-color);
   font-weight: 500;
   font-size: 1rem;
}                                                              
.btn-booking {
   background-color: var(--secondary-color);
   border: none;
   border-radius: 14px 0 14px 0;
   cursor: pointer;
   font-style: italic;
   padding: 0.6rem;
   transition: .5s;
   text-align: center;
   color: var(--heading-color);
   font-size: 1rem;
   line-height: inherit
}
.btn-booking:hover {
   color: var(--heading-color);
   transform: scale(1.1);
}